.errorMessage {
	padding-top: 60px;
	border: 3px solid black;
	border-radius: 7px;
	width: 88%;
	margin: 0 auto;
	height: 300px;
}

.gradient {
	  background-color:
	    linear-gradient(
	      black, transparent
	    );
	}

body {
	background: linear-gradient(
                     rgba(0,0,0, 0.9), 
                     rgba(0,0,0, 0.7)),
                     url('/images/poker.jpg');
    background-size: cover;
    background-position: fixed;

   /*background-image: url('/images/pokerbg1.jpg');*/
    color: white;
	/*font-family: 'Fugaz One', cursive;*/
	font-family: 'Reem Kufi', sans-serif;
	/*font-family: 'Racing Sans One', cursive;*/

	font-size: 16px;
}

th {
	text-align: center;
}

.modal, input {
	color: black;
}

.non-editable {
	border: none;
	background-color: transparent;
	color: white;
}


.btn-danger {
    box-shadow: 0 4px 0 0 #8e1328;
}

.btn:active,
.btn.active {
    background: #8e1328;
    box-shadow: none;
    /*margin-bottom: -1px;*/
    margin-top: 4px;
}

.btn-success {
	box-shadow: 0 4px 0 0 #397739;
}

.btn-warning {
	box-shadow: 0 4px 0 0 #bf8028;
}

.btn-info {
	box-shadow: 0 4px 0 0 #379ab7;
}

a, .btn {
	outline: none !important;
}

.tournamentButtons {
	width: 250px;
	margin-bottom: 10px;
}

.tournamentDiv {
	margin-top: 30px;
}


.tournamentsList {
	padding-left: 40px;
	padding-top: 15px;
	border: 2px solid black;
	border-radius: 7px;
	width: 60%;
}

.tournamentData {
	margin-bottom: 40px;
}

.tournamentDataDiv {
	border: 2px solid black;
	border-radius: 7px;
	width: 60%;
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.checkInPlayers {
	margin-top: -86px;
	float: right;
}

.checkInPlayers:active {
	margin-top: -83px;
}

.form-control {
	font-size: 16px;
	height: 40px;
}

h2 {
	margin-top: 60px;
}

.input-group-addon {
	font-size: 16px;
}

.modal-title {
	font-size: 20px;
}
